

/* Table of Contents */


@media screen {
    div.ro-toc a{
        color: gray;
    }
}

@media print {
    div.ro-toc a{
        color: black;
        text-decoration: none;
    }
    
    div.ro-toc a::after {
        content: leader(dotted) target-counter(ro-attr(href url), page);
    }
    
}

.ro-toc-heading::before {
    content: "";
}

div.ro-toc {
    break-after: always;
}

div.ro-toc > h2{
    break-before: avoid;
}

div.ro-toc div {
    margin-bottom: 1.5pt;
}
