@page {
    size: a4;
    margin: 2.5cm;
    counter-increment: page;
    font-family: Arial, Sans-Serif;

    @bottom-center {
        content: counter(page);
    }

    @top-center {
        content: "Plone Benutzerhandbuch";
    }
}

h1 {
   counter-increment: c1;
   counter-reset: c2;
   page-break-after: avoid;
}

h2 {
   counter-increment: c2;
   counter-reset: c3;
   page-break-before: always;
   page-break-after: avoid;
}

h3 {
   counter-increment: c3;
   counter-reset: c4;
   page-break-after: avoid;
}

h4 {
   counter-increment: c4;
   counter-reset: c5;
   page-break-after: avoid;
}

h5 {
   counter-increment: c5;
   counter-reset: c6;
   page-break-after: avoid;
}

h2::before {
    content: counter(c2) " "; 
}

h3::before {
    content: counter(c2) "." counter(c3) " "; 
}

h4::before {
    content: counter(c2) "." counter(c3) "." counter(c4) " "; 
}

h5::before {
    content: counter(c2) "." counter(c3) "." counter(c4) "." counter(c5) " "; 
}

.wy-nav-content-wrap,
body {
    background: #fff !important;
    background-image: none !important;
}

p {
    text-align: justify;
}

li,
dd,
p {
    hyphens: auto;
    hyphenate-before: 4;
    hyphenate-after: 4;
}

.wy-breadcrumbs,
#index-und-suche {
    display: none;
}

p {
    margin-bottom: 0.5em;
    padding-bottom: 0;
}


/* Keep <dt> + <dd> pairs together */

dt {
    page-break-after: avoid;
    font-weight: bold;
}

dd {
    page-break-before: avoid;
    margin-left: 2em;
    padding: 0;
}

ul {
    padding: 0;
}

li {
    page-break-before: avoid;
    margin-left: 2em;
    padding: 0;
}

/* Avoid page breaks inside .figure environment */
div.figure {
    page-break-inside: avoid;
}


